﻿@model Evaluacion.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.especialidad.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad.NombreEspecialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vinculacion.TipoVinculacionLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vinculacion.TipoVinculacionLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreInstructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreInstructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoInstructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoInstructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstructorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
