﻿@model IEnumerable<Evaluacion.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.especialidad.NombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vinculacion.TipoVinculacionLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreInstructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoInstructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.especialidad.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vinculacion.TipoVinculacionLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInstructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoInstructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorId })
        </td>
    </tr>
}

</table>
